@{
    ViewData["Title"] = "Tareas";
}

@model tl2_tp10_2023_castroagustin.ViewModels.ListarTareasViewModel

<h2> Lista de Tareas </h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Id tablero</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Color</th>
        <th>Estado</th>
        <th>Id usuario asignado</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var tarea in Model.Tareas)
        {
            <tr>
                <td>@tarea.Id</td>
                <td>@tarea.IdTablero</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                <td>@tarea.IdUsuarioAsignado</td>
                <td><a asp-controller="Tarea" asp-action="UpdateTarea" asp-route-id="@tarea.Id">Modificar</a></td>
                <td><a asp-controller="Tarea" asp-action="DeleteTarea" asp-route-id="@tarea.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>