@{
    ViewData["Title"] = "Tareas";
}
@model tl2_tp10_2023_castroagustin.ViewModels.ModificarEstadoTareaViewModel

<section class="section_forms">
    <form asp-controller="Tarea" asp-action="UpdateEstado">

        <div class="form-group">
            <input asp-for="@Model.Id" hidden />
            <input asp-for="@Model.IdTablero" hidden />
            <input asp-for="@Model.IdUsuarioPropietario" class="form-control" hidden />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Estado"></label>
            <br>
            <select asp-for="@Model.Estado" asp-items="@Html.GetEnumSelectList<EstadoTarea>()"></select>
            <span asp-validation-for="@Model.Estado" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}