@model tl2_tp10_2023_castroagustin.ViewModels.ModificarTareaViewModel


<form asp-controller="Tarea" asp-action="UpdateTarea">
    <div class="form-group">
        <input asp-for="@Model.Id" hidden />
        <input asp-for="@Model.IdTablero" hidden />
        <input asp-for="@Model.IdUsuarioPropietario" class="form-control" hidden />
        <label asp-for="@Model.IdUsuarioAsignado">Id usuario asignado:</label>
        <input asp-for="@Model.IdUsuarioAsignado" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Nombre">Nombre:</label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion">Descripcion:</label>
        <input asp-for="@Model.Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Color">Color:</label>
        <input asp-for="@Model.Color" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Estado">Estado:</label>
        <br>
        <select label asp-for="@Model.Estado">
            <option asp-for="@Model.Estado" class="form-control" value="0">Ideas</option>
            <option asp-for="@Model.Estado" class="form-control" value="1">ToDo</option>
            <option asp-for="@Model.Estado" class="form-control" value="2">Doing</option>
            <option asp-for="@Model.Estado" class="form-control" value="3">Review</option>
            <option asp-for="@Model.Estado" class="form-control" value="4">Done</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>